# muh stuff
*.svg
*.csv
*.log
*.txt
*.db
__pycache__/
.env

# ignore all the replit stuff
venv/
.breakpoints
.replit
.poetry.lock
poetry.lock
pyproject.toml
.upm/
replit.nix
.config/
.tutorial/
.game-list

