<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/style.css">
  <title>Admin Panel</title>
</head>
<body><center>
  <div class="game-list-top">
  <a href="/logout"><button class ="btn" id="back">Logout</button></a>
  <a href="/game_list"><button class ="btn" id="back">Game List</button></a>
  <br>
  <div class="box-shadow">
    {% if text %}
  <span class="red_text">{{ text }}</span><br>
    {% endif %}
  <h2>Admin Panel</h2>
  <h3>Logged in as {{user}}</h3>
  </div>
  <h1>User List</h1>
  <hr>
  {% for user in user_list %}
    Username: <span class="red">{{ user.username }}</span><br>
    <form action="/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this user {{ user.username }}?');">
      <input type="hidden" name="username" value="{{ user.username }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <input class="delete" type="submit" value="Delete User">
    </form>
    Email: <span class="red">{{ user.email }}</span><br>
    Admin Status: <span class="red">{{ user.admin }}</span><br>
    Last Login: <span class="red">{{ user.last_login }}</span><br>
    Account Created: <span class="red">{{ user.creation_date }}</span><br>
    Email Confirmed: <span class= "red">{{ user.email_confirmed }}</span><br>
  <hr>
  {% endfor %}
  </center>
</body>
</html>